.todos {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.todos li::marker {
  content: '';
}

.todo {
  padding: 1em;
  border: .1em solid;
  border-radius: .2em;
}

.todo:has([open]) {
  color: orange;
}

.todo__actions {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: .5em;
}
