body {
  margin: 0;
  padding: 1em;

  font-family: system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

dialog::backdrop {
  background: rgb(0 0 0 / .7);
}

img {
  max-width: 100%;
  height: auto;
}

li::marker {
  content: ''
}

address {
  margin-block: .67em;
}
